<header>
  <a class="logo" href="/">Nero CRM</a>
  <div class="user"><img src="./assets/profile.jpg" alt=""><h3>Admin</h3></div>
</header>
<nav>
  <a routerLink="/dashboard" routerLinkActive='active'>Dashboard</a>
  <a routerLink="/orders" routerLinkActive='active'>Order</a>
  <a routerLink="/customers" routerLinkActive='active'>Customers</a>
  <a routerLink="/products" routerLinkActive='active'>Product</a>
  <a routerLink="/about" routerLinkActive='active'>About</a>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>