h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

 .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
 }

.wrapper>div {
    padding: 15px 15px 10px 15px;
    border-radius: 5px;
    border-bottom: 5px solid rgba(255, 0, 0, 0);
}
.wrapper>div:hover {
    border-bottom: 5px solid rgb(255, 87, 87);
}
.wrapper h1 {
    color: white;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}

#card1 {
    background: lightgreen;
}

#card2 {
    background: lightsteelblue;
}

#card3 {
    background: lightsalmon;
}

#card4 {
    background: rgb(228, 122, 255);
}
 img {
     width: 48px;
     margin: 8px;
     float: left;
     margin-right: 12px;
 }

 mat-paginator {
    background: rgb(31, 31, 36);
    color: white;
}
  
.graphic {
    float: left;
    margin-top: 50px;
    margin-bottom: 0;
    color: white;
    padding: 15px;
    background: rgb(63, 63, 63);
}

text {
    color: white;
}

.gph_wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
}