/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    /* background: url('./assets/background.png') no-repeat;
    background-size: 100%; */
    background: rgb(49, 47, 54);
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}


html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


mat-paginator {
    background: rgb(31, 31, 36);
    color: white;
}
  
 .mat-select-arrow, .mat-select-value-text {
    color: white;
}
